#external_id {
  background-color: blue;
}

.external-test1 .external-test2 {
  background-color: blue;
}

#external_id-test1 #external_id-test2 {
  background-color: blue;
}

.external {
  background-color: blue;
  padding: 5px;
}